---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Que tal 游녦</div>
      <div class="text-5xl font-bold">aqu칤 JackAndrewG</div>
      <div class="text-3xl py-3 font-bold">Ingeniero de software</div>
      <div class="py-2">
        <text class="text-lg">
            Como ingeniero de software, lo que m치s disfruto de trabajar en este campo es la constante oportunidad de aprendizaje y crecimiento. La naturaleza en constante evoluci칩n de la tecnolog칤a asegura que siempre haya nuevos lenguajes, frameworks y herramientas por explorar. Encuentro una inmensa satisfacci칩n en mantenerme al d칤a con las 칰ltimas tendencias y en esforzarme por adquirir nuevas habilidades. El proceso de dise침ar y desarrollar sistemas de software, ya sea creando una aplicaci칩n web, construyendo una app m칩vil o implementando algoritmos complejos, me emociona. Me encanta el desaf칤o de resolver problemas y encontrar soluciones elegantes para mejorar la eficiencia, escalabilidad y experiencia del usuario. Adem치s, colaborar con equipos diversos y ser parte de un esfuerzo colectivo para crear software innovador e impactante es realmente gratificante. La naturaleza din치mica y de ritmo r치pido del campo de la ingenier칤a de software me mantiene comprometido y motivado para mejorar continuamente y ofrecer soluciones de alta calidad.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/jack-guzman/" target="_blank">Conectemos!</a>
        <a href="mailto:jackandrewg@gmail.com" target="_blank" class="btn btn-outline ml-5"> Cont치cteme por email</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">Mis 칰ltimos proyectos {"</>"}</div>
    </div>

    <HorizontalCard
      title="Picker Orchestrator"
      img="/my-portfolio/picker_orchestrator.png"
      desc="Sistema de b칰squeda de conductores en paralelo con Delivery Partners como: Uber, Rappi, PeYa, Cabify, Lalamove, etc. En los pa칤ses M칠xico, Ecuador, Colombia, Rep칰blica Dominicana, Per칰, Guatemala, Chile, Costa Rica, Uruguay, Paraguay, Argentina que permite a los negocios cumplir su promesa de entrega en tiempo record"
      url="https://www.pickerexpress.com/productos/orquestador"
      badge="Nuevo"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Picker Analytics"
    img="/my-portfolio/picker_analytics_bi.png"
    desc="Sistema de anal칤tica acerca de las entregas para los negocios Picker con la posibilidad de generar reportes, visualizar mapas de calor de las zonas m치s demandas, balance de cuentas, etc"
    url="https://dashboard.pickerexpress.com/"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Chasky Delivery"
    img="/my-portfolio/chasky.jpg"
    desc="Sistema multiplataforma para gestionar y solicitar encomiendas y entregas de cara al negocio y al cliente final"
    url="#"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Lo nuevo en el blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={`${import.meta.env.BASE_URL}blog/` + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
